*

{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
    font-family: 'Raleway';
    


}


.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bag.jpg);
    background-size: cover
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 38px;
    font-weight: 500;
    color: #fffs;
}

.contact .content p{
    font-weight: 300;
    color: #fff;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container  .contactInfo{
    width 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #b30303;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}


.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #fff;
}


.Contact Form {
    width: 100%;
    padding: 60px;
    background: #fff;
}


.Contact Form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.Contact Form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.Contact Form .inputBox input , .Contact Form .inputBox textarea{
    width: 50%;
    padding: 10px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
   
    
}

.Contact Form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    
}

.Contact Form .inputBox input:focus ~ span, 
.Contact Form .inputBox input:valid ~ span
.Contact Form .inputBox textarea:focus ~ span, 
.Contact Form .inputBox textarea:valid ~ span{
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
} 

.Contact Form .inputBox input[type="submit"]{
    width: 100px;
    background: #b30303;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.Contact Form .inputBox input[type="submit"]:hover{
    background: #FAFF02;
    color: red;
}